* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: #e7e7e7;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}